.node {
	fill: #fff;
	stroke: #000;
	stroke-width: 1.5px;
}

.node text {
	fill: #000;
	stroke-width: 0;
}

.node .selected {
	fill: #960c0c;
}

.link {
	stroke: #000;
	stroke-width: 1.5px;
}

svg {
	background-color: #aeb0b2;
}
